.container {
  max-width: 400px;
  min-height: 700px;
  margin: 0 auto;
  background-color: aliceblue;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
}

.exp-tra {
  text-align: center;
}

.expense-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px;
}

.transaction-form input {
  width: 100%;
  padding: 5px;
  margin: 10px 0px;
}

.transaction-list {
  margin: 0;
  padding: 0;
}

.transaction-list > li {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  box-shadow: 0 0 10px gray;
  margin: 5px 0px;
  background-color: white;
}
